@import "../../styles/utils";

.technologies {
  @include flex($gap: 5px);

  &__title {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  &__icons {
    @include flex($column: false, $gap: 10px);
    flex-wrap: wrap;
  }

  &__icon {
    @include flex($column: false, $gap: 5px);
    border-radius: 10px;
    background-color: rgba(205, 167, 255, 0.2);
    padding: 5px 10px;
    user-select: none;
    font-size: 0.9rem;
    font-weight: 300;
    color: lighten($accent, 10%);
  }
}
