@import "../../../styles/utils";

.academic-project {
  @include flex($gap: 0.5rem);
  &__img {
    border-radius: 10px;
    max-width: 350px;
    height: 250px;
    object-fit: cover;
    width: 100%;
  }
}
