@import "./utils";

// Basic reset

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Reusable classes

.accent {
  color: $accent;
}

.active {
  background-color: $accent;
  padding: 5px 10px;
  color: $light;
  border-radius: 10px;
}

.flex {
  display: flex;
  gap: 20px;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.bold {
  font-weight: bold;
}

// Elements by tag

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  font-family: $font;
  background-image: linear-gradient(
    to right top,
    #25222a,
    #232028,
    #211e26,
    #1f1d24,
    #1d1b22
  );
  color: $light;
  background-attachment: fixed;
}

#root {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "header main";
}

main {
  @include flex();
  max-width: 750px;
  grid-area: main;
  justify-self: center;
}

a {
  @include transition();
  color: #e0e0e0;

  &:hover {
    color: $accent;
  }
}

ul {
  list-style-type: none;
}

header {
  grid-area: header;
  position: fixed;
}

.section {
  padding: 2rem;

  &__title {
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 500;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #1d1b22;
}

::-webkit-scrollbar-thumb {
  background-color: lighten($accent, 5%);
  border-radius: 5px;

  &:hover {
    background-color: lighten($accent, 8%);
  }
}

@media screen and (max-width: 768px) {
  .projects {
    gap: 2rem;
  }

  .project {
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-areas: "title" "img" "content";
  }

  .project__img,
  .project__content {
    max-width: 100%;
  }
}

@media screen and (max-width: 1025px) {
  #root {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main";
  }

  header {
    padding: 2rem;
    position: static;
  }

  .section {
    padding: 1rem;
  }

  .about {
    margin: auto;
  }
}
