@import "../../styles/utils";

.contact {
  @include flex();

  p {
    text-align: center;
  }

  &__links {
    @include flex($column: false);
  }

  &__icon {
    color: $accent;
  }

  a {
    text-decoration: none;
    @include flex($column: false, $gap: 0.5rem);
    @include transition();
    color: $light;

    &:hover {
      text-decoration: underline;
      color: $accent;
    }
  }
}

@media screen and (max-width: 640px) {
  .contact__links {
    @include flex($column: true);
  }
}
