@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply w-full h-screen text-white bg-zinc-950;
}

.nav-link::after {
  @apply bg-accent;
  transition: ease-in-out 0.3s;
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  width: 0;
  height: 2px;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link.-selected {
  @apply text-accent after:bg-accent;

  &::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
  }
}

.home-screen {
  width: 100%;
  height: 100vh;
  position: relative;
  display: grid;
  place-content: center;
  place-items: center;
  position: relative;

  &::after {
    z-index: -1;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.8) 20%,
        rgba(0, 0, 0, 0.6) 40%
      ),
      url("./spiral.jpg");
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    position: absolute;
    filter: grayscale(100%);
    content: "";
    width: 100%;
    height: 100%;
  }
}

/* scrollbar */

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  @apply bg-accent rounded hover:bg-accent-light;
}

::selection {
  @apply bg-accent text-black;
}
