$accent: #6f6dfc;
$accent-darker: #424196;
$accent-translucid: rgba(66, 65, 150, 0.4);
$light: #f7f7f7;
$mute: #e0e0e0;
$dark: #11111b;
$font: "Manrope", sans-serif;

// Basic reset

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}

// Reusable classes

.accent {
  color: $accent;
}

.active {
  background-color: $accent;
  padding: 5px 10px;
  color: $light;
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply w-full h-screen bg-gradient-to-tr from-accent-darker to-accent text-white bg-fixed;
}

#root {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #fff;

  &:hover {
    color: $mute;
  }

  &.link-btn {
    font-size: 1.1rem;
    border: 2px solid $accent;
    padding: 1rem;
    border-radius: 10px;

    &:hover {
      background-color: $accent;
      color: $dark;
      transform: scale(1.1);
    }
  }
}

.navbar {
  .link {
    cursor: pointer;
    transition: ease-in-out 0.3s;
    position: relative;
    text-decoration: none;
    font-weight: 500;

    &:hover {
      color: $accent;
    }
  }

  .link::after {
    transition: ease-in-out 0.3s;
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: $accent;
  }

  .link:hover::after {
    width: 100%;
  }

  .link.selected {
    color: $accent;
    font-weight: bold;

    &::after {
      transition: ease-in-out 0.3s;
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      right: 0;
      width: 100%;
      height: 2px;
      background-color: $accent;
    }
  }
}

// Scrollbar

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #1d1b22;
}

::-webkit-scrollbar-thumb {
  background-color: lighten($accent, 5%);
  border-radius: 5px;

  &:hover {
    background-color: lighten($accent, 8%);
  }
}

::selection {
  background: $accent;
  color: #fff;
}
