@import "../../styles/utils";

.nav-links {
  padding: 2rem;

  &__list {
    @include flex($center: false);
  }

  &__link {
    @include transition();
    position: relative;
    text-decoration: none;
    color: $light;

    &:hover {
      color: $accent;
    }
  }

  &__link::after {
    @include transition();
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: $accent;
  }

  &__link:hover::after {
    width: 100%;
  }
}
